.hae_service_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: var(--p-f);
  font-weight: var(--p-b);
}

.hae_service_tab_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.hae_service_tab_wrap > * {
  border: 1px solid black;
  padding: 10px;
}

.hae_service_tab {
  text-decoration: none;
  color: #000;
}

.hae_service_tab.active {
  background-color: #666 !important;
  color: #fff !important;
}

.hae_service_mid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hae_service_item {
  display: flex;
  gap: 40px;
}

.hae_service_item > div:first-child {
  border: 1px solid black;
}

.hae_service_thumbnail {
  width: 300px;
}

.hae_service_item > div:last-child {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hae_service_expl h3 {
  padding-bottom: 30px;
  font-size: var(--h3-f);
  font-weight: var(--h3-b);
}

.hae_service_expl p {
  height: 150px;
  line-height: 30px;

  word-break: break-all;
  overflow-y: scroll;
}